<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - TA</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form-.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Steps-Progressbar.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark d-sm-inline align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(9,40,71);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="home.html">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-tools"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>SIYANVIS</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="home.html"><strong>Beranda</strong></a></li>
                    <li class="nav-item"><a class="nav-link active" href="antrian%20(sa).html"><strong>Antrian</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="daftar%20antrian.html"><strong>Daftar Antrian</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="daftar%20antrian.html"><strong>Daftar Sedang Servis</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="daftar%20selesai%20servis.html"><strong>Daftar Selesai Servis</strong></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="text-white">
                                                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                        <path d="M144 208C126.3 208 112 222.2 112 239.1C112 257.7 126.3 272 144 272s31.1-14.25 31.1-32S161.8 208 144 208zM256 207.1c-17.75 0-31.1 14.25-31.1 32s14.25 31.1 31.1 31.1s31.1-14.25 31.1-31.1S273.8 207.1 256 207.1zM368 208c-17.75 0-31.1 14.25-31.1 32s14.25 32 31.1 32c17.75 0 31.99-14.25 31.99-32C400 222.2 385.8 208 368 208zM256 31.1c-141.4 0-255.1 93.12-255.1 208c0 47.62 19.91 91.25 52.91 126.3c-14.87 39.5-45.87 72.88-46.37 73.25c-6.624 7-8.373 17.25-4.624 26C5.818 474.2 14.38 480 24 480c61.49 0 109.1-25.75 139.1-46.25c28.87 9 60.16 14.25 92.9 14.25c141.4 0 255.1-93.13 255.1-207.1S397.4 31.1 256 31.1zM256 400c-26.75 0-53.12-4.125-78.36-12.12l-22.75-7.125L135.4 394.5c-14.25 10.12-33.87 21.38-57.49 29c7.374-12.12 14.37-25.75 19.87-40.25l10.62-28l-20.62-21.87C69.81 314.1 48.06 282.2 48.06 240c0-88.25 93.24-160 207.1-160s207.1 71.75 207.1 160S370.8 400 256 400z"></path>
                                                    </svg></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="me-2 text-gray-600 small">Hello, Yudha</span><i class="fas fa-sort-down" style="font-size: 20px;margin-bottom: 9px;"></i></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="profil.html"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="ganti%20password.html"><i class="far fa-edit fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Ganti Password</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Antrian Saat Ini</h3>
                    <div class="row" style="margin-bottom: -20px;margin-top: 15px;">
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-size: 14px;">ANTRIAN saat ini PITSTOP 1</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Honda BRV (B 1234 CD)</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-car-alt fa-2x text-gray-300"></i></div>
                                    </div><a class="btn btn-primary" role="button" style="margin-right: 10px;margin-top: 8px;" href="work%20order.html">Pengecekan</a><button class="btn btn-danger" type="button" style="margin-top: 8px;">Cancel Servis</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-4 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-size: 14px;">aNTRIAN Saat ini PITSTOP 2</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Honda HRV (B 5678 CD)</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-car-alt fa-2x text-gray-300"></i></div>
                                    </div><a class="btn btn-primary" role="button" style="margin-right: 10px;margin-top: 8px;" href="work%20order.html">Pengecekan</a><button class="btn btn-danger" type="button" style="margin-top: 8px;">Cancel Servis</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-4 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-size: 14px;">aNTRIAN Saat ini PITSTOP 3</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Honda Brio (B 9101 CD)</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-car-alt fa-2x text-gray-300"></i></div>
                                    </div><a class="btn btn-primary" role="button" style="margin-right: 10px;margin-top: 8px;" href="work%20order.html">Pengecekan</a><button class="btn btn-danger" type="button" style="margin-top: 8px;">Cancel Servis</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-dark mb-1" style="margin-top: 15px;">Antrian Selanjutnya</h3>
                    <div class="row" style="margin-bottom: -20px;margin-top: 15px;">
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-size: 14px;">ANTRIAN sELANJUTNYA PITSTOP 1</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Honda BRV (B 1234 CD)</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-car-alt fa-2x text-gray-300"></i></div>
                                    </div><a class="btn btn-primary" role="button" style="margin-right: 10px;margin-top: 8px;" href="work%20order.html">Pengecekan</a><button class="btn btn-danger" type="button" style="margin-top: 8px;">Cancel Servis</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-4 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-size: 14px;">aNTRIAN SELANJUTNYA PITSTOP 2</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Honda HRV (B 5678 CD)</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-car-alt fa-2x text-gray-300"></i></div>
                                    </div><a class="btn btn-primary" role="button" style="margin-right: 10px;margin-top: 8px;" href="work%20order.html">Pengecekan</a><button class="btn btn-danger" type="button" style="margin-top: 8px;">Cancel Servis</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-4 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-size: 14px;">aNTRIAN SELANJUTNYA PITSTOP 3</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Honda Brio (B 9101 CD)</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-car-alt fa-2x text-gray-300"></i></div>
                                    </div><a class="btn btn-primary" role="button" style="margin-right: 10px;margin-top: 8px;" href="work%20order.html">Pengecekan</a><button class="btn btn-danger" type="button" style="margin-top: 8px;">Cancel Servis</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © TA 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/for_fuel.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>