<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TA DT</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form-.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="background: rgb(9,40,71);">
        <div class="container"><a class="navbar-brand" href="login%20(guest).html" style="color: var(--bs-gray-100);">SIYANVIS</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="background: #ffffff;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto"></ul><span class="navbar-text actions"> <a class="login" href="login%20(guest).html" style="color: var(--bs-gray-100);">Log In</a><a class="btn btn-light action-button" role="button" href="daftar%20akun%20(guest).html" style="background: rgb(246,50,34);">Daftar</a></span>
            </div>
        </div>
    </nav>
    <section class="register-photo">
        <div class="form-container">
            <form method="post">
                <h2 class="text-center"><strong>Daftar Akun</strong></h2>
                <div class="alert alert-danger" role="alert"><span><strong>Peringatan!</strong>&nbsp;Ada data formulir yang kosong. Harap isi semua data di formulir ini.</span></div>
                <div class="alert alert-danger" role="alert"><span><strong>Peringatan!</strong>&nbsp;Email telah terdaftar. Harap mengisi dengan Email yang belum terdaftar atau menggunakan fitur "Lupa Password" jika anda lupa password.</span></div>
                <div class="alert alert-danger" role="alert"><span><strong>Peringatan!</strong>&nbsp;Harap isi "Password" dan "Ulangi Password" dengan data yang sama</span></div>
                <div class="mb-3">
                    <p>Nama Lengkap</p><input class="form-control" type="text" placeholder="Nama Sesuai STNK Anda">
                </div>
                <div class="mb-3">
                    <p>Email</p><input class="form-control" type="email" name="email" placeholder="Alamat Email Anda">
                </div>
                <div class="mb-3">
                    <p>No. Handphone</p><input class="form-control" type="number" placeholder="Nomor Handphone Anda">
                </div>
                <div class="mb-3">
                    <p>Plat Nomor Kendaraan</p><input class="form-control" type="text" placeholder="Plat Nomor Kendaraan Anda Sesuai STNK">
                </div>
                <div class="mb-3">
                    <p>Alamat Kendaraan Anda</p><input class="form-control" type="text" placeholder="Alamat Kendaraan Anda Sesuai STNK">
                </div>
                <div class="mb-3">
                    <p>Merk Kendaraan Anda</p><select class="form-select">
                        <option value="1" selected="">Pilih Merk Kendaraan Anda</option>
                        <option value="1">Honda Beat</option>
                        <option value="2">Honda PCX</option>
                    </select>
                </div>
                <div class="mb-3">
                    <p>Tahun Kendaraan Anda</p><input class="form-control" type="number" placeholder="Tahun Kendaraan Anda Sesuai STNK">
                </div>
                <div class="mb-3">
                    <p>Isi Silinder (Dalam Satuan CC)</p><input class="form-control" type="number" placeholder="Isi Silinder Kendaraan Anda Sesuai STNK">
                </div>
                <div class="mb-3">
                    <p>Upload STNK Anda</p><input class="form-control" type="file">
                </div>
                <div class="mb-3">
                    <p>Password</p><input class="form-control" type="password" name="password" placeholder="Password Anda">
                </div>
                <div class="mb-3">
                    <p>Ulangi Password</p><input class="form-control" type="password" name="password-repeat" placeholder="Ulangi Password Anda">
                </div>
                <div class="mb-3"><a class="btn btn-primary d-block w-100" role="button" href="konfirmasi%20pendaftaran%20(guest).html" style="background: rgb(246,50,34);">Daftar Akun</a></div><a class="already" href="login%20(guest).html">Sudah memiliki akun? Login disini</a>
            </form>
        </div>
    </section>
    <footer class="footer-basic" style="background: rgb(9,40,71);padding-top: 15px;padding-bottom: 40px;">
        <p class="copyright" style="color: var(--bs-gray-100);">SIYANSI (Sistem Informasi Pelayanan Servis) © 2022</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>