<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - TA</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form-.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark d-sm-inline align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(9,40,71);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-tools"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>SIYANVIS</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="daftar%20antrian.html"><strong>Daftar Antrian</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="monitoring%20servis.html"><strong>Monitoring Servis</strong></a></li>
                    <li class="nav-item"><a class="nav-link active" href="daftar%20selesai%20servis.html"><strong>Daftar Selesai Servis</strong></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="me-2 text-gray-600 small">Hello, Yudha</span><i class="fas fa-sort-down" style="font-size: 20px;margin-bottom: 9px;"></i></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="profil.html"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="ganti%20password.html"><i class="far fa-edit fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Ganti Password</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Daftar Selesai Servis / Detail Selesai Servis</h3>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Detail Selesai Servis "Toyota Yaris - B 1234 NFR"</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username"><strong>Info Kendaraan</strong><br></label>
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="table-primary">Jenis</th>
                                                                        <th class="table-primary">Keterangan</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Nama Pemilik</td>
                                                                        <td>John</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Email Pemilik</td>
                                                                        <td>john@gmail.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>No. Handphone</td>
                                                                        <td>081299413339</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Alamat Pemilik</td>
                                                                        <td>Kecamatan Bojongsoang</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Merk</td>
                                                                        <td>Toyota Yaris</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Nomor Polisi</td>
                                                                        <td>B 1234 NFR</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Tahun Kendaraan</td>
                                                                        <td>2020</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Isi Silinder (Satuan CC)</td>
                                                                        <td>2500</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Keluhan</td>
                                                                        <td>Stir tidak enak, lampu depan mati, ban depan pernah kempes</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Tanggal</td>
                                                                        <td>10/10/2020</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Waktu</td>
                                                                        <td>10:00 - 11:00</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Jenis Servis - Harga</td>
                                                                        <td>Servis Berkala 10.000 KM - Rp 100.000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Tambahan</td>
                                                                        <td>1. Ganti ban depan - Rp. 1.000.000<br>2. Ganti Oli - Rp. 300.000</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center mb-3"><button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-print"></i>&nbsp; Cetak Bukti</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © TA 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>